aiocache
aiosqlite
asyncio
async_lru
fastapi
gradio<5.0  # > 5.0 changed layout
gunicorn
imagecodecs
matplotlib
ollama
openai
opencv-python-headless
redis
sqlalchemy
torch
torchvision
scikit-image
llama_index
llama-index-llms-ollama
uvicorn